.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.post:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.post a {
  width: 100%;
  color: #333;
  padding: 2rem;
  border: 1px solid #ccc;
}

.post:hover a {
  color: #0f4aa3;
}