.menu {
  background-color: #333;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 10px;
}

.menu ul li a {
  color: #fff;
}

.menu ul li a:hover {
  color: #1178ff;
}