    <footer class="position-absolute bottom-0 start-50">
      <p href="">Feito por <a class="text-danger" href="https://github.com/joaovic-tech">João Victor</a> no curso de <a class="text-info" href="https://www.udemy.com/course/curso-de-javascript-moderno-do-basico-ao-avancado/">JavaScript e TypeScript do básico ao avançado
      </a></p>
    </footer>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>